services:
    nginx:
        image: nginx:alpine
        container_name: nginx-laravel
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./storage:/var/www/storage
        depends_on:
            - app
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
#            - .:/var/www
            - ./storage:/var/www/storage
        ports:
        - "9000:9000"
        depends_on:
        - db
    laravel-worker:
        build:
            context: .
        container_name: laravel-worker
        command: php artisan queue:work --sleep=3 --tries=3 --timeout=90 --verbose
        restart: unless-stopped
        volumes:
#            - ./:/var/www
            - ./storage:/var/www/storage
        depends_on:
            - app
    db:
        image: mysql:8
        container_name: db-laravel
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: cbta71_db
            MYSQL_USER: laravel_db
            MYSQL_PASSWORD: 123
        ports:
          - "3306:3306"
        volumes:
          - db_data:/var/lib/mysql
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin-laravel
        restart: unless-stopped
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
            MYSQL_ROOT_PASSWORD: root
        ports:
          - "8080:80"
volumes:
  db_data:
